In [3]:
# imports
import pandas as pd

In [4]:
# Acquire initial data set
dataset_path = "./archive/all_stocks_5yr.csv"

raw_allstock_5yr_data = pd.read_csv(dataset_path)

clean_allstock_5yr = raw_allstock_5yr_data.copy()

In [5]:
# clean up the column names and datetime format
clean_allstock_5yr.rename(columns={"Name" : "name"}, inplace=True)
clean_allstock_5yr["date"] = pd.to_datetime(clean_allstock_5yr['date'])
clean_allstock_5yr['year'] = clean_allstock_5yr['date'].apply(lambda date: date.year)

In [6]:
# visualize the dataframe
clean_allstock_5yr.tail()
type(clean_allstock_5yr['year'][0])

numpy.int64

In [7]:
# removing the partial data from 2013 and 2018, leaving us with 4 years of complete data
clean_allstock_4yr = clean_allstock_5yr.loc[(clean_allstock_5yr['year'] != 2013) & (clean_allstock_5yr['year'] != 2018)]

In [8]:
# visualize the new dataframe
clean_allstock_4yr

             date   open     high    low   close    volume name  year
226    2014-01-02  25.07  25.8200  25.06  25.360   8998943  AAL  2014
227    2014-01-03  25.75  26.7500  25.51  26.540  13836062  AAL  2014
228    2014-01-06  26.62  27.2000  26.60  27.030  11272273  AAL  2014
229    2014-01-07  27.20  27.3997  26.67  26.905  11288775  AAL  2014
230    2014-01-08  26.37  27.6800  26.35  27.630  15736891  AAL  2014
...           ...    ...      ...    ...     ...       ...  ...   ...
619009 2017-12-22  72.30  72.3700  71.79  71.990   1345683  ZTS  2017
619010 2017-12-26  72.40  72.5500  71.90  72.340    792134  ZTS  2017
619011 2017-12-27  72.59  72.6900  72.25  72.450   1159771  ZTS  2017
619012 2017-12-28  72.49  72.6000  72.14  72.390    710499  ZTS  2017
619013 2017-12-29  72.55  72.7600  72.04  72.040   1704122  ZTS  2017

[497472 rows x 8 columns]

In [9]:
# write out the new df to a csv file
clean_allstock_4yr.to_csv("all_stocks_4yr.csv", index=False)

In [10]:
# use a list of the four years in a for loop to find the volume of each stock each year
years = [2014, 2015, 2016, 2017]
volume_data = pd.DataFrame()

for year in years:
    year_data = clean_allstock_4yr[clean_allstock_4yr['year'] == year]
    year_volume = year_data.groupby('name').sum()['volume']
    volume_data[str(year)] = year_volume

volume_data['name'] = volume_data.index
volume_data.reset_index(drop=True, inplace=True)

# write out the dataframe to a csv file
volume_data.to_csv('all_years_volume_per_stock.csv', index=False)