In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
# acquire volume data to create the quintiles
volume_data = pd.read_csv("all_years_volume_per_stock.csv")

In [25]:
# separate the volume data into quintiles per year
volume_data_2014 = volume_data[["2014", "name"]]
volume_data_2015 = volume_data[["2015", "name"]]
volume_data_2016 = volume_data[["2016", "name"]]
volume_data_2017 = volume_data[["2017", "name"]]

volume_data_2014["quintile"] = pd.qcut(volume_data_2014["2014"], q = 5, labels=[1, 2, 3, 4, 5])
volume_data_2015["quintile"] = pd.qcut(volume_data_2015["2015"], q = 5, labels=[1, 2, 3, 4, 5])
volume_data_2016["quintile"] = pd.qcut(volume_data_2016["2016"], q = 5, labels=[1, 2, 3, 4, 5])
volume_data_2017["quintile"] = pd.qcut(volume_data_2017["2017"], q = 5, labels=[1, 2, 3, 4, 5])

c:\Users\baruchfrost\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\baruchfrost\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\Users\baruchfrost\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\baruchfrost\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [54]:
volume_data_2014.to_csv("volume_data_2014.csv", index=False)
volume_data_2015.to_csv("volume_data_2015.csv", index=False)
volume_data_2016.to_csv("volume_data_2016.csv", index=False)
volume_data_2017.to_csv("volume_data_2017.csv", index=False)

In [32]:
# calculate returns per quintile per year
price_data = pd.read_csv("all_stocks_4yr.csv")

price_data

              date   open     high    low   close    volume name  year
0       2014-01-02  25.07  25.8200  25.06  25.360   8998943  AAL  2014
1       2014-01-03  25.75  26.7500  25.51  26.540  13836062  AAL  2014
2       2014-01-06  26.62  27.2000  26.60  27.030  11272273  AAL  2014
3       2014-01-07  27.20  27.3997  26.67  26.905  11288775  AAL  2014
4       2014-01-08  26.37  27.6800  26.35  27.630  15736891  AAL  2014
...            ...    ...      ...    ...     ...       ...  ...   ...
497467  2017-12-22  72.30  72.3700  71.79  71.990   1345683  ZTS  2017
497468  2017-12-26  72.40  72.5500  71.90  72.340    792134  ZTS  2017
497469  2017-12-27  72.59  72.6900  72.25  72.450   1159771  ZTS  2017
497470  2017-12-28  72.49  72.6000  72.14  72.390    710499  ZTS  2017
497471  2017-12-29  72.55  72.7600  72.04  72.040   1704122  ZTS  2017

[497472 rows x 8 columns]

In [37]:
# create a function to get the percentage change from two values
def pct_change(beginning: float, end: float) -> float:
    return ((end - beginning) / beginning) * 100

pct_change(200, 100)

-50.0

In [44]:
# get the beginning and ending days of the years in scope
first_days = price_data.groupby("year").min()["date"].tolist()
last_days = price_data.groupby("year").max()["date"].tolist()

allowed_days = first_days + last_days
allowed_days

['2014-01-02',
 '2015-01-02',
 '2016-01-04',
 '2017-01-03',
 '2014-12-31',
 '2015-12-31',
 '2016-12-30',
 '2017-12-29']

In [49]:
# filter out only rows that are first or last days 
first_last_days_data = price_data.loc[price_data["date"].isin(allowed_days)]
first_last_days_data.tail(20)

              date    open    high      low   close   volume  name  year
494955  2016-01-04  101.12  103.06  100.170  101.81  2042842   ZBH  2016
495206  2016-12-30  103.31  103.93  102.850  103.20   973822   ZBH  2016
495207  2017-01-03  103.87  103.90  102.590  103.33  1381230   ZBH  2017
495457  2017-12-29  121.75  121.95  120.620  120.67  1023624   ZBH  2017
495458  2014-01-02   29.90   29.98   29.620   29.65  1356738  ZION  2014
495709  2014-12-31   28.68   28.77   28.490   28.51  1470851  ZION  2014
495710  2015-01-02   28.67   28.72   28.055   28.29  2299118  ZION  2015
495961  2015-12-31   27.26   27.64   27.140   27.30  1737623  ZION  2015
495962  2016-01-04   26.56   26.91   26.230   26.71  3523301  ZION  2016
496213  2016-12-30   43.07   43.31   42.690   43.04  1938930  ZION  2016
496214  2017-01-03   43.74   44.33   42.720   43.18  2896301  ZION  2017
496464  2017-12-29   51.28   51.55   50.810   50.83  1261916  ZION  2017
496465  2014-01-02   32.53   32.66   32.110   32.36  2576112   ZTS  2014
496716  2014-12-31   43.46   43.88   43.000   43.03  2148909   ZTS  2014
496717  2015-01-02   43.46   43.70   43.065   43.31  1784851   ZTS  2015
496968  2015-12-31   47.93   48.40   47.810   47.92  1768460   ZTS  2015
496969  2016-01-04   46.94   47.72   46.750   47.27  2871687   ZTS  2016
497220  2016-12-30   53.64   53.74   53.270   53.53  1701204   ZTS  2016
497221  2017-01-03   53.88   54.38   53.335   53.59  3580369   ZTS  2017
497471  2017-12-29   72.55   72.76   72.040   72.04  1704122   ZTS  2017

In [48]:
len(first_last_days_data)

3953

In [53]:
first_last_days_data.reset_index()

       index        date   open     high     low  close    volume name  year
0          0  2014-01-02  25.07  25.8200  25.060  25.36   8998943  AAL  2014
1        251  2014-12-31  53.90  54.6400  53.320  53.63  11063024  AAL  2014
2        252  2015-01-02  54.28  54.6000  53.070  53.91  10756705  AAL  2015
3        503  2015-12-31  42.54  42.5700  41.830  42.35   6813757  AAL  2015
4        504  2016-01-04  41.29  41.3501  40.300  40.91  12037151  AAL  2016
...      ...         ...    ...      ...     ...    ...       ...  ...   ...
3948  496968  2015-12-31  47.93  48.4000  47.810  47.92   1768460  ZTS  2015
3949  496969  2016-01-04  46.94  47.7200  46.750  47.27   2871687  ZTS  2016
3950  497220  2016-12-30  53.64  53.7400  53.270  53.53   1701204  ZTS  2016
3951  497221  2017-01-03  53.88  54.3800  53.335  53.59   3580369  ZTS  2017
3952  497471  2017-12-29  72.55  72.7600  72.040  72.04   1704122  ZTS  2017

[3953 rows x 9 columns]