In [5]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
#read csv file
spx_df = pd.read_csv("spx500_monthly_data.csv")

#creating ticker column
ticker_column = spx_df.unstack(level=- 1, fill_value=None)
ticker_column

#creating a new data frame
spx_df.head()

         date ticker  close_adj
0  1962-01-31     BA   0.466256
1  1962-01-31    CAT   1.478858
2  1962-01-31     DD   8.440616
3  1962-01-31    DIS   0.138620
4  1962-01-31     GE   1.878712

In [16]:
spx_monthly_df = spx_df.groupby(pd.PeriodIndex(spx_df['date'], freq="M"))['close_adj'].mean()
spx_monthly_df

date
1962-01      2.058920
1962-02      2.116203
1962-03      2.132457
1962-04      1.977259
1962-05      1.798306
              ...
2022-11    171.785039
2022-12    164.250807
2023-01    175.597378
2023-02    171.087816
2023-03    168.152136
Freq: M, Name: close_adj, Length: 735, dtype: float64